node_modules
.next
out/
.DS_Store
dist/
secrets.js
.env

# reason
bs
.merlin
lib/
*.bs.js
.bsb.lock 
build.ninja
.graphql_ppx_cache

# cypress
cypress/videos/
cypress.env.json

# vscode
*.code-workspace
.vscode/
.now